#page_wrap {
    margin-top: 30px;
}

#diary_card1, #diary_card2, #diary_card3 {
    height: 30rem;
}

.card_img_div {
    width: inherit; height: 14rem;
}

#card_img_top1, #card_img_top2, #card_img_top3 {
    width: inherit; height: inherit;
    object-fit: cover;
}

#diary_card_body1, #diary_card_body2, #diary_card_body3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    height: 3.3rem;
    font-family: 'Jua', sans-serif;
    font-size: 1.2rem;
    overflow: hidden;
}

.card-text {
    height: 6.2rem;
    font-size: 1rem;
    overflow: hidden;
}

.card-link {
    height: 1rem;
    font-size: 0.8rem;
}