#pet_detal-row1 {
    padding: 10px 0
}

#pet_detal-row2 {
    padding: 50px 0;
    border-top: #333333 dotted 1px;
    border-bottom: #333333 dotted 1px;;
}


.pet_detail_logo {
    font-size: 3em;
    color: #473403;
    font-family: 'Lobster', cursive;
}

.pd-img {
    background: #000; /*Change this to a background image or remove*/
    border: solid #fff;
    border-width: 15px 15px 75px 15px;
    box-shadow: 1px 1px 5px #333; /* Standard blur at 5px. Increase for more depth */
    -webkit-box-shadow: 1px 1px 5px #333;
    -moz-box-shadow: 1px 1px 5px #333;
    width: 95%;
    height: auto;
}

#pet_detail-contents {
    padding-top: 20px;
}

.pet_detail-name {
    font-family: 'Do Hyeon';
    font-weight: bold;
    font-size: 2.3em;
    padding: 5px
}

.pet_detail-kind {
    font-family: 'Do Hyeon';
    font-size:1.5em;
}

.pet_detail-info {
    padding-top:40px;
    font-size: 1.6em;
    font-family: 'Nanum Pen Script' ;
}

.pet_detail-crud {
    text-align: right;
    font-size: 1.2em;
    padding: 40px 0 0 20px;
    color: #4f4f4f;
    font-family: 'Do Hyeon', sans-serif;
}

#pet_detail-crud {padding-bottom: 40px}

.pet_detail-crud a {
    color: #333333;
    border: 1px solid #333333;
    border-radius: 35%;
    padding: 3px 8px;
}

.pet_detail-crud a:hover {
    text-decoration: none;
    color: #4E4025
}