<h1>product list</h1>


<h3><a href="{% url 'core:home' %}">home</a></h3>
<h3><a href="{% url 'mypage:profile' %}">mypage</a></h3>
<h1>아이템 검색</h1>
<form action="{% url "core:search_result" %}" method="GET">
    {% csrf_token %}
    <input type="text" name="q" value="{{ q }}">
    <input type="submit" value="search">
</form>
<h1>아이템 검색</h1>


{% if product_list %}


{% for item in product_list %}


        {{ item.name }}({{ item.mall }})<br>

      <!--  <img src="{{ item.img_main }}" style="width:100px;" alt=""><br> --!>

{% endfor %}
{% endif %}
    <h1>
    {% for product in mall1_certain_product %}
        {{ product.name }}
    {% endfor %}
    </h1>