<!-- Load CSS -->
{% load static %}
<link rel="stylesheet" href="{% static 'mypage/diary_brief.css' %}">

<!-- Google Fonts -->

<div class="container" id="page_wrap">
    <div class="row" style="display: flex; justify-content: center;">
        <div class="col-md-3" >
            <div class="card" id="diary_card1">
                {% if diary1.img %}
                    <div class="card_img_div"><img src="{{ diary1.img.url }}" id="card_img_top1" class="card-img-top"></div>
                {% endif %}
                {% if not diary1.img %}
                    <div class="card_img_div">이미지가 없습니다</div>
                {% endif %}
                    <div class="card-body" id="diary_card_body1">
                        <div class="card-title">{{ diary1.title }}</div>
                        <div class="card-text">{{ diary1.content }}</div>
                        <a href="{% url 'mypage:detail_diary' diary1.pk %}" class="card-link">다이어리 상세</a>
                    </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" id="diary_card2">
                {% if diary2.img %}
                    <div class="card_img_div"><img src="{{ diary2.img.url }}" id="card_img_top2" class="card-img-top"></div>
                {% endif %}
                {% if not diary2.img %}
                    <div class="card_img_div">이미지가 없습니다</div>
                {% endif %}
                <div class="card-body" id="diary_card_body2">
                    <div class="card-title">{{ diary2.title }}</div>
                    <div class="card-text">{{ diary2.content }}</div>
                    <a href="{% url 'mypage:detail_diary' diary2.pk %}" class="card-link">다이어리 상세</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" id="diary_card3">
                {% if diary3.img %}
                    <div class="card_img_div"><img src="{{ diary3.img.url }}" id="card_img_top3" class="card-img-top"></div>
                {% endif %}
                {% if not diary3.img %}
                    <div class="card_img_div">이미지가 없습니다</div>
                {% endif %}
                <div class="card-body" id="diary_card_body3">
                    <div class="card-title">{{ diary3.title }}</div>
                    <div class="card-text">{{ diary3.content }}</div>
                    <a href="{% url 'mypage:detail_diary' diary3.pk %}" class="card-link">다이어리 상세</a>
                </div>
            </div>
        </div>
    </div>
</div>
