<!--다이어리 리스트 3개쯤 나오고 버튼으로 <추가하기><더보기> 만들어서 다른 페이지 넘어가기-->
<!--다이어리 리스트 html로 변경해야함 js로 pet정보처럼 불러올예정-->

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<h1>diary</h1>

<h3><a href="{% url 'mypage:profile' %}">profile</a></h3>
<h3><a href="{% url 'mypage:favorites' %}">favorites</a></h3>
<h3><a href="{% url 'mypage:create_diary' %}">create diary</a></h3>


{% for diary in diaries %}
<div class="card" style="width: 25rem; height: 20rem; display: inline-block; overflow: hidden">
  <div class="card-body">
    <h5 class="card-title" style="height: 2rem; overflow: hidden">{{ diary.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ diary.created_at }}</h6>
    <p class="card-text" style="height: 9rem; overflow: hidden">{{ diary.content }}</p>
    <a href="{% url 'mypage:detail_diary' diary.pk %}" class="card-link">다이어리 상세</a>
  </div>
</div>
{% endfor %}