<div class="container" id="pet_page_wrap">
    <div class="row" style="display: flex; justify-content: center;">
        <div class="col-md-3" >
            <div class="card" id="pet_card1">
                {% if pet1.img %}
                    <div class="pet_card_img_div"><img src="{{ pet1.img.url }}" id="pet_card_img_top1" class="card-img-top"></div>
                {% endif %}
                {% if not pet1.img %}
                    <div class="pet_card_img_div">이미지가 없습니다</div>
                {% endif %}
                    <div class="card-body" id="pet_card_body1">
                        <div class="pet_card-title">{{ pet1.name }}</div>
                        <div class="pet_kind_text text-muted">{{ pet1.kind }}</div>
                        <div class="pet_card-text">{{ pet1.petInfo }}</div>
                        <a href="{% url 'mypage:pet_detail' pet1.pk %}" class="pet_card-link">펫정보 상세</a>
                    </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" id="pet_card2">
                {% if pet2.img %}
                    <div class="pet_card_img_div"><img src="{{ pet2.img.url }}" id="pet_card_img_top2" class="card-img-top"></div>
                {% endif %}
                {% if not pet2.img %}
                    <div class="pet_card_img_div">이미지가 없습니다</div>
                {% endif %}
                <div class="card-body" id="pet_card_body2">
                    <div class="pet_card-title">{{ pet2.name }}</div>
                    <div class="pet_kind_text text-muted">{{ pet2.kind }}</div>
                    <div class="pet_card-text">{{ pet2.petInfo }}</div>
                    <a href="{% url 'mypage:pet_detail' pet2.pk %}" class="pet_card-link">펫정보 상세</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" id="pet_card3">
                {% if pet3.img %}
                    <div class="pet_card_img_div"><img src="{{ pet3.img.url }}" id="pet_card_img_top3" class="card-img-top"></div>
                {% endif %}
                {% if not pet3.img %}
                    <div class="pet_card_img_div">이미지가 없습니다</div>
                {% endif %}
                <div class="card-body" id="pet_card_body3">
                    <div class="pet_card-title">{{ pet3.name }}</div>
                    <div class="pet_kind_text text-muted">{{ pet3.kind }}</div>
                    <div class="pet_card-text">{{ pet3.petInfo }}</div>
                    <a href="{% url 'mypage:pet_detail' pet3.pk %}" class="pet_card-link">펫정보 상세</a>
                </div>
            </div>
        </div>
    </div>
</div>



